.owl-carousel .item {
    height: 150px;
    padding: 1rem;
}

.stone-container {
    display: flex;
    justify-content: center;
}

.stone-title {
    font-family: "Cinzel Decorative";
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    color: black;
    font-weight: 200;
}
