@import "../style.scss";


.braceletContainer {  
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    overflow:hidden;
}

.braceletCreator {
    display: flex;
    flex-direction: column;
    height: calc(100vh - #{$pageHeaderHeight});
    max-width: 1200px;
    background: unset;
    margin: auto;
    
    overflow: hidden;
    padding-bottom: 25px;
}

.pageContainer {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    > div {
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
