@import "../../style.scss";


.stoneContainerContainer {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stoneContainer {
    position: relative;
    width: var(--containerWidth);
    height: var(--containerWidth);
    margin: 25px;
}

.braceletRing {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid #829090;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.stoneContainer .stone {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $stoneWidth;
    height: $stoneWidth;
    margin: #{-$stoneWidth / 2};
    border-radius: 50%;
    transform: rotate(var(--angle, 0)) translate(calc(var(--parentWidth,0) /2)) rotate(var(--angle, 0));
    box-shadow: 0 0 8px 8px white inset;
}
